astroid==3.3.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
dill==0.3.8
Flask==3.0.3
Flask-HTTPAuth==4.8.0
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
idna==3.10
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
lazy-object-proxy==1.10.0
MarkupSafe==2.1.5
mccabe==0.7.0
platformdirs==4.3.6
pypng==0.20220715.0
PyQRCode==1.2.1
python-dotenv==1.0.1
requests==2.32.3
SQLAlchemy==2.0.34
tomli==2.0.1
tomlkit==0.13.2
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.4
wrapt==1.16.0
