body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 36px;
  padding: 15px;
/* Remove gap between header and top*/
  margin-top: 0; 
  background-color: #33e9ff;
}

form {
  font-size: 28px;
  text-align: center;
  display: inline-block;
}

footer {
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #03b982;
}

.code {
  float: right;
  padding: 5px;
}

.info {
  float: left;
  padding: 5px;
}
