<!DOCTYPE html>
<html lang="en">

<head>
  <title>500 Error</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="../static/styles.css" rel="stylesheet" />
</head>

<body>
  {% block content %}
  <h1>{% block title %} 500 Internal Server Error{% endblock %}</h1>
  <p id="error_msg">{{ error_message }} {% endblock %}</p>

  <footer class="info">
    <span>
      Created in <i class="fa-brands fa-linux"></i> with
      <i class="fa-solid fa-heart"></i>
    </span>
    <span>Checkout source code at
      <a href="https://github.com/zootedb0t/url_shortner" target="_blank">
        <i class="fa-brands fa-square-github"></i>
      </a>
    </span>
  </footer>
</body>

</html>
