{% extends "base.html" %}
{% block title %}Add Api Keys{% endblock %}
{% block content %}
    <div class="key-tbl" style="text-align: center; margin: 10px">
        <form action="{{ url_for("addkey") }}" method="post" class="api-form">
            <input type="text" name="name" placeholder="Give a name" required />
            <input type="text" name="apikey" placeholder="Enter Api Key" required />
            <input type="text" name="groupid" placeholder="Enter Group Id" required />
            <button type="submit">Submit Credentials</button>
        </form>
        {% if key %}
            <table id="key-list">
                <thead>
                    <th>Name</th>
                    <th>Api Key</th>
                    <th>Group ID</th>
                    <th>Action</th>
                </thead>
                {% for data in key %}
                    <tbody>
                        <td>{{ data.name }}</td>
                        <td>{{ data.auth_key }}</td>
                        <td>{{ data.grp_id }}</td>
                        <td>
                            <form method="post" action="{{ url_for('deletekey', key_id=data.id) }}">
                                <button type="submit">Delete Key</button>
                            </form>
                        </td>
                    </tbody>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}
