<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        - Flask App</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='styles.css') }}" />
        <script src="{{url_for('static', filename='myscript.js')}}"></script>
    </head>
    <body>
        <header>
            <h1>
                <a href="/">URL Shortner</a>
            </h1>
        </header>
        {% block content %}{% endblock %}
        <footer class="info">
            <span>
                Made in
                <img src="/static/images/linux_icon.svg"
                     alt="terminal"
                     height="24"
                     width="24" />
                with
                <img id="heart-animation"
                     src="/static/images/heart_icon.svg"
                     alt="heart"
                     height="24"
                     width="24" />
                Checkout source code
                <a href="https://github.com/zootedb0t/url_shortner" target="_blank">
                    <img id="git-animation"
                         src="/static/images/git_icon.svg"
                         alt="git"
                         height="24"
                         width="24" />
                </a>
            </span>
        </footer>
    </body>
</html>
