<!DOCTYPE html>
<html lang="en">
  <head>
    <title>URL history</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body id="dataview">
    <table align="center" style="width: 50%">
      <thead>
        <th>Id</th>
        <th>Actual URL</th>
        <th>Short URL</th>
      </thead>
      {% for data in url %}
      <tbody>
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[2]}}</td>
        <td><a href="/delete/{{data[0]}}" type="button">Delete</a></td>
      </tbody>
      {% endfor%}
    </table>
  </body>
</html>
