<!DOCTYPE html>
<html lang="en">
  <head>
    <title>URL history</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css')}}"
    />
    <script src="{{url_for('static', filename='myscript.js')}}"></script>
  </head>

  <body>
    <header>
      <h1><a href="/">URL Database</a></h1>
    </header>
    <table align="center" id="data_tbl">
      <thead>
        <th>Actual URL</th>
        <th>Short URL</th>
        <th>Actions</th>
      </thead>
      {% for data in url %}
      <tbody>
        <td>{{ data.actual_url }}</td>
        <td>{{ data.short_url }}</td>
        <td>
          <form method="post" action="{{url_for('delete', id=data.id )}}" style="display: inline;">
          <button type="submit">Delete</button>
          </form>
            </button>
            <button type="submit">
              <a href="{{url_for('getqr', id=data.id )}}" type="button"
                >Get QR Code</a
              >
            </button>
            <button type="submit">
              <a href="{{url_for('copytoclipboard', id=data.id)}}" type="button"
                >Copy to clipboard</a
              >
            </button>
        </td>
      </tbody>
      {% endfor %}
    </table>
    <footer class="info">
      <span>
        Created in
        <img
          src="/static/images/linux_icon.svg"
          alt="terminal"
          height="24"
          width="24"
        />
        with
        <img
          id="heart-animation"
          src="/static/images/heart_icon.svg"
          alt="heart"
          height="24"
          width="24"
        />
        Checkout source code
        <a href="https://github.com/zootedb0t/url_shortner" target="_blank">
          <img
            id="git-animation"
            src="/static/images/git_icon.svg"
            alt="git"
            height="24"
            width="24"
          />
        </a>
      </span>
    </footer>
  </body>
</html>
