<!DOCTYPE html>
<html lang="en">

<head>
  <title>Duplicate URL</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="../static/styles.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/e73d46fe4e.js" crossorigin="anonymous"></script>
</head>

<body>
  {% block content %}
  <header>
    <h1><a href="/">Check URL Database</a></h1>
  </header>
  <p id="duplicate">
    <em>
      <a href="{{ duplicate }}" target="_blank">{{ duplicate }}</a>
    </em>
    is already in our database.
  </p>
  {% endblock %}
  <footer class="info">
    <span>
      Created in <i class="fa-brands fa-linux fa-lg fa-bounce"></i> with
      <i class="fa-solid fa-heart fa-lg fa-beat"></i>
    </span>
    <span>Checkout source code at
      <a href="https://github.com/zootedb0t/url_shortner" target="_blank">
        <i class="fa-brands fa-square-github fa-lg fa-shake"></i>
      </a>
    </span>
  </footer>
</body>

</html>
