<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to URL-Shortener</title>
  <link rel="stylesheet" href="../static/styles.css" />
  <script src="https://kit.fontawesome.com/e73d46fe4e.js" crossorigin="anonymous"></script>
  <script src="../static/myscript.js"></script>
</head>

<body>
  <header>
    <h1>URL Shortner</h1>
  </header>
  <p>
    <a href="database"><button class="database">Check URL Database</button></a>
  </p>
  <form action="{{ url_for('shortner') }}" method="post" id="url_input">
    <input type="url" name="data" style="width:250px; height: 30px;" placeholder="Enter URL" required />
        <button type="submit" style="height: 30px;">Submit URL</button>
  </form>
  <footer class="info">
    <span>
      Created in <i class="fa-brands fa-linux"></i> with
      <i class="fa-solid fa-heart"></i>
    </span>
    <span>Checkout source code at
      <a href="https://github.com/zootedb0t/url_shortner" target="_blank">
        <i class="fa-brands fa-square-github"></i>
      </a>
    </span>
  </footer>
</body>

</html>
