{% extends "base.html" %} 
{% block title %}Welcome To URL-Shortner{% endblock %}
{% block content %}
  <p>
    <a href="/database"
      ><button class="database">
        <img
          src="/static/images/data_icon.svg"
          alt="database-icon"
          height="18"
          width="18"
        />
        URL Database
      </button></a
    >
    <a href="/addkey">
      <button class="database">
        <img
          src="/static/images/key_icon.svg"
          alt="key_icon"
          height="22"
          width="22"
        />
        API Keys
      </button>
    </a>
  </p>
  <form action="{{ url_for('shortner') }}" method="post">
    <label for="apikey">Select a key:</label>
    <select name="currentapikey">
      {% for key in apikeys %}
      <option value={{ key.id }}>{{ key.name }}</option>
      {% endfor %}
    </select>
    <input
      type="url"
      name="data"
      placeholder="Enter URL"
      required
    />
    <button>
      <img
        src="/static/images/send_icon.svg"
        alt="send"
        height="15"
        width="15"
      />
      Submit URL
    </button>
  </form>
{% endblock %}
