<!DOCTYPE html>
<html lang="en">
  <head>
    <title>URL QR Code</title>
    <script src="{{url_for('static', filename='myscript.js')}}"></script>
  </head>

  <body>
    {% extends "base.html" %} {% block content %}
    <p>
      <img src="{{ qrcode }}" alt="URL QR-Code" id="embedImage" />
    </p>
    <a href="{{ url_for('database')}}">
      <button type="submit">Go Back</button>
    </a>
    <button id="saveImg" onclick="saveQrCode()">Download QR code</button>
    {% endblock %}
  </body>
</html>
