<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="../static/styles.css" rel="stylesheet" />
  <script src="../static/myscript.js"></script>
  <script src="https://kit.fontawesome.com/e73d46fe4e.js" crossorigin="anonymous"></script>
</head>

<body>
  <h1>Your New URL</h1>
  <p id="url">{{ link }}</p>
  <button onclick="urlCopy('#url')">Copy url</button>
  <button><a href="/" type="button">Goto Home</a></button>
  <footer class="info">
    <span>
      Created in
      <img src="/static/images/linux_icon.svg" alt="terminal" height="32" width="32" />
      with
      <img src="/static/images/heart_icon.svg" alt="heart" height="32" width="32" />
      Checkout source code
      <a href="https://github.com/zootedb0t/url_shortner" target="_blank">
        <img id="animation" src="/static/images/git_icon.svg" alt="git" height="32" width="32" />
      </a>
    </span>
  </footer>
</body>

</html>
