body {
  margin: 0;
  padding: 0;
  background-color: #e7f2f8;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 36px;
  padding: 15px;
  text-align: center;
  /* Remove gap between header and top*/
  margin-top: 0;
  background-color: #ffa384;
}

/* index.html styles */
.main-button {
  text-align: center;
}

.database {
  padding: 15px;
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
  table-layout: fixed;
  outline: none;
  background-color: #6883ba;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.database:hover {
  background-color: #efe7bc;
}

/* Style the form - display items horizontally */
.main-form form {
  display: flex;
  justify-content: center;
}

/* Add some margins for each label */
.main-form form label {
  margin: 5px;
  flex: 5%;
}

.main-form form select {
  margin: 5px;
  padding: 5px;
}

/* Style the input fields */
.main-form form input {
  margin: 5px;
  padding: 5px;
  background-color: white;
  border: 2px solid;
  flex: 80%;
}

/* Style the submit button */
.main-form form button {
  background-color: #74bdcb;
  border: 1px solid #ddd;
  color: white;
  flex: 15%;
  padding: 5px;
  margin: 5px;
}

.main-form form button:hover {
  background-color: #efe7bc;
  color: black;
  border-radius: 5px;
}

@media only screen and (max-device-width: 450px) {
  .database {
    padding: 15px;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    table-layout: fixed;
    width: 80%;
    outline: none;
    background-color: #6883ba;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
}

@media (max-width: 600px) {
  .main-form form {
    display: flex;
    margin: 5px;
    flex: 100%;
    flex-direction: column;
  }
}

table,
td {
  border: 1px solid black;
}

table,
a {
  color: black;
}

/* Footer */
footer {
  text-align: center;
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #74bdcb;
}

.info {
  padding: 5px;
  font-size: 26px;
}

#duplicate {
  font-size: 28px;
  color: red;
}

/* database.html */
.search-url {
  text-align: center;
  margin: 10px;
}

.search-url input,
.api-form button {
  margin: 5px;
  font-size: 16px;
}

#data-tbl {
  width: 100%;
}

/* API Key table */

.api-form input,
.api-form button {
  font-size: 16px;
  border: 1px solid;
}

@media (max-width: 700px) {
  .api-form {
    display: flex;
    flex-direction: column;
  }
  .api-form input,
  .api-form button {
    margin: 5px;
    border: 1px solid;
    font-size: 16px;
  }
}

#key-form {
  text-align: center;
  margin: 10px;
}

/* addkey.html css */
#key-list table {
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  word-break: break-all;
}

#key-list th {
  border: none;
}

#key-list td {
  padding: 5px;
}

/*slink.html css*/
#url {
  text-align: center;
}

#url p {
  background-color: #d4f1f4;
  padding: 5px;
  font-size: 24px;
}
/*error.html*/
#error_msg {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: red;
}

/*QR code*/
#qr-code {
  text-align: center;
}

#copy-url {
  text-align: center;
}

/*Animaion*/
@keyframes animateHeart {
  0% {
    transform: scale(0.8);
  }

  5% {
    transform: scale(0.9);
  }

  10% {
    transform: scale(0.8);
  }

  15% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(0.8);
  }
}

#heart-animation {
  animation: animateHeart 0.5s infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#git-animation {
  animation: tilt-shaking 0.5s infinite;
}
