body {
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 36px;
  padding: 15px;
  /* Remove gap between header and top*/
  margin-top: 0;
  background-color: #04aa6d;
}

/* index.html styles */
.main-button {
  table-layout: fixed;
}

.database {
  padding: 15px;
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
  table-layout: fixed;
  /* width: 80%; */
  outline: none;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

@media only screen and (max-device-width: 450px) {
  .database {
    padding: 15px;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    table-layout: fixed;
    width: 80%;
    outline: none;
    background-color: #04aa6d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
}

.form-button {
  padding: 20px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}

table,
a {
  color: black;
}

.database:hover {
  background-color: #3e8e41;
}

.database:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Footer */
footer {
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #03b982;
}

@keyframes animateHeart {
  0% {
    transform: scale(0.8);
  }

  5% {
    transform: scale(0.9);
  }

  10% {
    transform: scale(0.8);
  }

  15% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(0.8);
  }
}

#heart-animation {
  animation: animateHeart 0.5s infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#git-animation {
  animation: tilt-shaking 0.5s infinite;
}

.info {
  padding: 5px;
  font-size: 26px;
}

#duplicate {
  font-size: 28px;
  color: red;
}

#error_msg {
  font-size: 28px;
  background-color: red;
}

#data_tbl {
  width: 75%;
  /* color: black; */
}

#keylist {
  padding: 20px;
  display: block;
  margin: auto;
}

#keylist table {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#keylist th {
  border: none;
}

#url p {
  background-color: #d4f1f4;
  padding: 5px;
  font-size: 24px;
}

#error {
  font-size: 24px;
  font-weight: bold;
  color: red;
}
